<div>
    <mat-card>
        <mat-card-header>
          Audit Execution
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip color="primary">
                  50 Findings
                </mat-chip>
                <mat-chip color="accent">
                    23 Audit Area
                </mat-chip>
                <mat-chip color="warn">
                    40 Audit Cycles
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
</div>
