<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Audit Area</th>
        <th>View</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of audits">
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.category.name}}
        </td>
        <td>
          {{item.auditArea}}
        </td>
        <td>
          <a [routerLink]="['/auditdetails', item.id]">View Details</a>
        </td>
        <td>
            <a [routerLink]="['/editaudit', item.id]">Edit</a>
          </td>
      </tr>
    </tbody>
    
  </table>
</div>