<div>
  {{auditDetails | json}}
</div>

<form name="myform" action="" [formGroup]="myForm" (ngSubmit)="saveAudit($event)">
    <div>
      <label for="">Name</label>
      <input type="text" formControlName="name">
      <span *ngIf="myForm.get('name').errors?.required">
        This field is required
      </span>
    </div>
    <div>
        <label for="">Area</label>
        <input type="text" formControlName="auditArea">
    </div>
    <button (click)="onBtnClick()">Click</button>
    <button type="submit">Save</button>
</form>